In [78]:
#Step 1. Import the necessary libraries 
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (<ipython-input-78-88e3831cfd8a>, line 1)

In [72]:
#Step 2. Assign it to a variable called chipo   
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
##Step 3 Assign tab file to chipo by using pandas read csv
chipo = pd.read_csv(url, sep = '\t')

In [70]:
#Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [10]:
#Step 5. What is the number of observations in the dataset?

chipo.info() 
chipo.shape[0]

In [14]:
#Step 6. What is the number of columns in the dataset?
chipo.shape[1]

5

In [16]:
#Step 7. Print the name of all the columns
x = chipo.columns
print (x)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
#Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [30]:
#Step 9. Which was the most ordered item?
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                     order_id  quantity
item_name
Carnitas Salad           1500         1
Veggie Crispy Tacos       668         1

In [31]:
#Step 10. How many items were ordered?

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [33]:
#Step 11. What was the most ordered item in the choice_description column?
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [35]:
#Step 12. How many items were orderd in total?
total_items_orders = chipo.quantity.sum()
total_items_orders

4967

In [74]:
#Step 13. Turn the item price into a float
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price.head()

In [51]:
#Step 14. How much was the revenue for the period in the dataset?
revenue = (chipo['quantity']* chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [52]:
#Step 15. How many orders were made in the period?

chipo.order_id.value_counts().count()

1834

In [62]:
#Step 16. What is the average amount per order?
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.head()
order_grouped.mean()['item_price']
chipo.groupby(by=['order_id']).sum().mean()['item_price']

18.811428571428689

In [57]:
#Step 17. How many different items are sold?
chipo.item_name.value_counts().count()

50

24.5